@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    padding-top: 60px;
    padding-left: 60px;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
}

.card {
    width: 420px;
    padding: 20px 40px 60px;

    color: #000;
    background: #fff;
    border: 1px solid #BDD1E9;
    text-align: center;
}

.card-img {
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    color: #0387D7;
}

.card-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
}

.card-text p+p {
    margin-top: 1em;
}

.card-text a {
    color: #086BC7;
    text-decoration: underline;
}

.card-price {
    margin-bottom: 30px;
    font-size: 32px;
}

.card-price span {
    font-weight: bold;
}

.button {
    padding: 14px 75px 19px;
    font-size: 24px;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #000;
    transition:
        background-color 0.2s ease-in,
        color 0.2s ease-in,
        border 0.2s ease-in;
}

.button:hover,
.button:focus {
    color: #000;
    background-color: #FDFDFD;
    border: 1px solid #272727;
}

.button:active {
    position: relative;
    top: 1px;
    color: #fff;
    background-color: #444444;
    border: 1px solid #444444;
}