@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", serif;
    line-height: normal;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

/* Section */

.section {
    padding: 90px 0;
}

.section-header {
    margin-bottom: 60px;
    text-align: center;
}

.section-posts {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
}

.section-button-wrapper {
    text-align: center;
}

/* Section-header */

.title {
    margin-bottom: 10px;
    font-size: 42px;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/* Card */

.card {
    width: 270px;
}

.card-body {
    padding: 20px 10px;
    border: 1px solid #C1D1D4;
    border-top: none;
    text-align: center;
}

.card-title {
    margin-bottom: 15px;
    font-size: 22px;
}

.card-description {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.card .card-link {
    color: #0277B9;
    font-size: 20px;
    text-decoration: underline;
}

/* Button */

.button {
    padding: 12px 40px 16px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 22px;
    text-transform: uppercase;
    transition:
        background-color 0.2s ease-in,
        color 0.2s ease-in,
        border 0.2s ease-in;
}

.button:hover,
.button:active {
    color: #FFF;
    background-color: #000;

}

.button:active {
    position: relative;
    top: 1px;
    background-color: #444444;
    border: 1px solid #444444;
}