.locations {}

.locations__row {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
}

.locations__title {
    max-width: 430px;
}



.locations__controls {
    display: flex;
    column-gap: 20px;
}

.slider {}