@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    line-height: normal;
}

a {
    color: #81B4BD;
    text-decoration: underline;
}

.sticky-footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

.container.container-small {
    width: 1000px;
}

.none {
    display: none !important;
}

.desktop-only {
    display: block;
}

.title-1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
}

.title-1 span {
    color: #81B4BD;
}

.title-2 {
    font-size: 28px;
    font-weight: 700;
}

.title-3 {
    font-size: 20px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* Header */

.header {
    padding: 40px 0;
}

.header-bg {
    background-color: #F6F6F6;
}

/* Nav */

.logo {
    flex-shrink: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-list a {
    color: #000;
    transition: color 0.2s ease-in;
}

.nav-list a.active {
    color: #81B4BD;
}

.nav-list a:hover {
    color: #00CEB5;
}

.btn-mobile-nav {
    display: none;
}

/* Main */

.promo {
    display: flex;
    align-items: center;
    padding-left: 70px;
    height: 500px;
    background-color: #394D42;
    background-image: url("./../img/promo/promo-bg.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    color: #fff;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .promo {
        background-image: url('./../img/promo/promo-bg@2x.jpg');
    }
}

.promo-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.promo-text {
    font-size: 24px;
}

/* Main content */
.main-content {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding: 90px 0;
}

.content-row {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.content-row.content-row-reverse {
    flex-direction: row-reverse;
}

.content-img {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 40px;
}

.content-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.content-text p {
    font-size: 18px;
    line-height: 1.8;
}

.content-text a {
    color: #81B4BD;
    text-decoration: underline;
}

/* Inner page */

.inner-page {
    padding: 90px 0;
}

.inner-page-title-wrapper {
    margin-bottom: 60px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
}

.card {
    width: 370px;
}

.card .card-img {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.card-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.card-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}

.card-desc p {
    line-height: 1.5;
}

.card-desc a {
    color: #81B4BD;
    text-decoration: underline;
}

/* Article */

.article-content p {
    font-size: 18px;
    line-height: 1.8;
}

.article-content p + p {
    margin-top: 30px;
}

.article-img {
    margin: 40px 0;
    border-radius: 20px;
    overflow: hidden;
}

/* Contacts page */

.contacts-columns {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    
}

/* Form */

.form-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 25px 0px rgba(211, 211, 211, 0.5);
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.input {
    padding: 14px 20px;
    width: 100%;
    height: 50px;

    background-color: #EFF9FB;
    border: 1px solid #b5dee5;
    border-radius: 2px;

    font-weight: 500;
    color: #36727d;
}

.input::placeholder {
    color: #9eccd4;
}

.input.input-50 {
    flex: 1;
}

.radio-list, .checkbox-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.radio-list label, 
.checkbox-list label {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.radio-list label input,
.checkbox-list label input {
    flex-shrink: 0;
}

.submit-btn {
    align-self: flex-start;
    height: 50px;
    padding: 12px 36px 13px;
    font-size: 18px;
    font-weight: 800;
    background-color: #81b4bd;
    border-radius: 6px;
    box-shadow: 0 8px 20px 0 rgba(129, 180, 189, 0.35);
    color: #fff;
    
}

.submit-btn:hover {
    opacity: 0.8;
}

.submit-btn:active {
    opacity: 1;
    background-color: #639199;
}

/* Custom radio */

.custom-radio {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #b5dee5;
    background-color: #eff9fb;
}

.custom-radio::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #37b6cc;
    transition: all 0.2s ease-in;
}
.real-radio:checked + .custom-radio::after {
        transform: translate(-50%, -50%) scale(1);
}

/* Custom chckboxes */
.custom-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #b5dee5;
    background-color: #eff9fb;

}

.custom-checkbox::after {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in;

    width: 16px;
    height: 13px;
    background-image: url("./../img/icons/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.real-checkbox:checked + .custom-checkbox::after {
    transform: translate(-50%, -50%) scale(1);
}
/* Address */

.address-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.address-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.address-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.address-list li {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
/* Footer */

.footer {
    margin-top: auto;
    padding: 60px 0;
    background-color: #111111;
    color: #fff;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-copyright {
    font-size: 14px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.3)
}

.footer-contacts {
    text-align: right;
}

.footer-contacts .footer-phone {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}

.footer-contacts .footer-email {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #00BDA6;
}

.footer-contacts .footer-address {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5)
}